<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Show', yoadmin_article_path(@article), class: "btn btn-info" %> |
<%= link_to 'Back', yoadmin_articles_path, class: "btn btn-warning" %>
