<!-- <p id="notice"><%#= notice %></p> -->

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Data:</strong>
  <%= @article.data%>
</p>

<%#= link_to 'Edit', edit_yoadmin_article_path(@article), class: "btn btn-info" %> 
<%#= link_to 'Back', yoadmin_articles_path, class: "btn btn-warning" %>
