<div class="col-md-12 img-responsive" style="background: url('img/LoginScreen.png') no-repeat;background-size: 100%">

<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <div class="login-form" cg-busy="{promise:myPromise,message:'Refuelling'}">
  <a href class="navbar-brand block text-left" style="text-align: left;padding:0px;">{{app.name}} SIGN IN</a>
  <div class="m-b-lg">

    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>

      <div class="list-group list-group-sm">
        <div class="form-group ">
          <label>EMAIL ID</label>
          <input type="email" class="form-control" ng-model="user.email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label>PASSWORD</label>
          <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required>
        </div>

      </div>
     <!-- <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd"><b>Forgot Password?</b></a></div>-->
      <div class="text-center">
      <button type="submit" class="btn btn-lg btn-info" style="padding: 6px 62px;" ng-click="login()" ng-disabled='form.$invalid'>SIGN IN</button>
      </div>
      <!--
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Do not have an account?</small></p>
      <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a>-->
    </form>
  </div>
 <!-- <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>-->
  </div>
</div>
</div>

